/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.main-header {
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.container-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.container-logo img {
    width: 61px;
    height: 19px;
}

.header-nav ul {
    display: flex;
    gap: 68px;
}

.header-nav li {
    list-style-type: none;
    padding-top: 16px;
}

.header-nav li:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 14px;
}

/****** Section info ***********/
.info {
    margin: 30px 0 35px;
}

/****** Title ***********/
.title {
    margin-bottom: 35px;
}

.title h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

/****** Search Bar ***********/
.search-container {
    width: 377px;
    height: 49px;
    display: flex;
    margin-bottom: 35px;
}

.icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.icon i {
    width: 14px;
    height: 18px;
    color: #000;
}

.search-container input[type="text"] {
    border: 1px solid var(--main-bg-color);
    width: 195px;
}

.search-container input[type="text"]::placeholder {
    color: #000;
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.search-container button[type="submit"] {
    width: 132px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    cursor: pointer;
}

.button-icon {
    display: none;
}

/****** Filter ***********/
.filter-container {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter-container h3 {
    font-size: 18px;
    font-weight: 700;
}

.filter-choice-container {
    display: flex;
    gap: 15px;
}

.filter-choice {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 17px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
}

.filter-choice:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filter-choice span {
    font-size: 17px;
    font-weight: 700;
}

.fa-money-bill-wave {
    font-size: 16px;
}

.fa-heart {
    font-size: 18px;
}

.fa-fire,
.fa-person {
    font-size: 20px;
}

/****** Infos ***********/
.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-circle {
    font-size: 24px;
    color: #d9d9d9;
    position: relative;
}

.fa-info {
    position: absolute;
    font-size: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/****** Hebergements And Populaires ***********/
.lodging-and-popular {
    display: flex;
    justify-content: space-between;
}

.lodging-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.lodging {
    width: 65%;
}

.lodging-cards {
    margin-top: 30px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 30px;
}

.lodging-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lodging-cards .card-content {
    padding-left: 15px;
}

.lodging-cards .card-title {
    margin: 4px 0 8px;
}

.lodging-cards .card-rating {
    margin: 8px 0 15px;
}

.cards-subtitle {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activities {
    margin-top: 35px;
    padding: 30px;
}

.activities .section-title {
    margin-bottom: 30px;
}

.activities-cards {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.activities img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities .card-subtitle {
    padding: 20px 19px;
    font-weight: 700;
}

/****** Footer ***********/
footer {
    margin-top: 35px;
    padding: 20px;
    display: flex;
    background-color: var(--main-bg-color);
}

.footer-section {
    width: 33%;
}

.footer-section-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /****** Filter ***********/
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .filter-choice span {
        font-size: 16px;
    }

    /****** Hebergements And Populaires ***********/
    .lodging-and-popular {
        flex-direction: column;
    }

    /****** Hebergements ***********/
    .lodging {
        width: 100%;
    }

    /****** Populaires ***********/
    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ***********/
    .activities img {
        height: 200px;
    }

    .activities .card-subtitle {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 0 0 0 19px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    /****** General ***********/
    .main-container {
        padding: 0;
    }

    /****** Header ***********/
    .main-header {
        height: 115px;
        flex-direction: column;
        align-items: center;
    }

    .header-nav {
        width: 100%;
    }

    .header-nav ul {
        gap: normal;
    }

    .header-nav li {
        text-align: center;
        width: 50%;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .header-nav li:hover {
        border-top: none;
        padding-top: 0;
        border-bottom: 2px solid var(--main-color);
        padding-bottom: 13px;
    }

    /****** Section info ***********/
    .info {
        padding: 0 20px;
    }

    /****** Search Bar ***********/
    .search-container {
        position: relative;
        width: 335px;
    }

    .search-container input[type="text"] {
        width: 285px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 15px;
    }

    .search-container input[type="text"]::placeholder {
        text-align: left;
        padding-left: 15px;
    }

    .search-container button[type="submit"] {
        position: absolute;
        right: 0;
        width: 49px;
        height: 49px;
        border-radius: 15px 15px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    }

    .button-icon {
        display: block;
    }

    .fa-magnifying-glass {
        color: #fff;
    }

    .button-search {
        display: none;
    }

    /****** Filter ***********/
    .filter-choice-container {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 10px;
    }

    .filter-choice {
        box-sizing: border-box;
        /*width: 162px;*/
    }

    /****** Hebergements And Populaires ***********/
    .lodging-and-popular {
        flex-direction: column-reverse;
    }

    .lodging-and-popular .lodging {
        background-color: #fff;
    }

    .lodging-and-popular section {
        border-radius: 0;
        padding: 30px 20px 20px;
    }

    /****** Populaires ***********/
    .popular {
        margin-top: 0;
    }

    .popular-cards {
        flex-direction: column;
    }

    .popular-cards a {
        width: 100%;
    }

    .popular-cards .card {
        margin-top: 10px;
    }

    /****** Hebergements ***********/
    .lodging-cards {
        grid-template: 1fr / auto;
        gap: 15px;
        margin-top: 15px;
    }

    /****** Activités ***********/
    .activities img {
        height: 141px;
    }

    .activities-cards {
        display: block;
    }

    .activities-cards .card-margin {
        margin-bottom: 15px;
    }

    .activities-cards .card-subtitle {
        height: 59px;
    }

    /****** Footer ***********/
    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .footer-section {
        width: 100%;
    }
}